<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Something went worng!</h1>
      <p>
        Unfurtunately, something went wrong on the server - we're doing our best to fix it as quickly as passible!
      </p>
    </main>
  </body>
</html>
